<hr>

<div class="container mt-5 mb-5">
  <h3 class="mb-5">THE BEST MOVIES</h3>
       <div class="row">



         <div class="col-md-3 col-12 mb-md-0 mb-3">
           <div class="video-card">
             <img src="https://i.ytimg.com/vi/Ata9cSC2WpM/default.jpg" class="video-thumbnail" alt="Video Thumbnail">
             <div class="video-info">
               <h5 class="video-title">Video Title</h5>
               <button class="btn btn-danger play-video" data-video-id="Ata9cSC2WpM">Play</button>
             </div>
           </div>
         </div>
         

         <div class="col-md-3 col-12 mb-md-0 mb-3">
              <div class="video-card">
                <img src="https://i.ytimg.com/vi/Ata9cSC2WpM/default.jpg" class="video-thumbnail" alt="Video Thumbnail">
                <div class="video-info">
                  <h5 class="video-title">Video Title</h5>
                  <button class="btn btn-danger play-video" data-video-id="Ata9cSC2WpM">Play</button>
                </div>
              </div>
            </div>



         <div class="col-md-3 col-12 mb-md-0 mb-3">
              <div class="video-card">
                <img src="https://i.ytimg.com/vi/Ata9cSC2WpM/default.jpg" class="video-thumbnail" alt="Video Thumbnail">
                <div class="video-info">
                  <h5 class="video-title">Video Title</h5>
                  <button class="btn btn-danger play-video" data-video-id="Ata9cSC2WpM">Play</button>
                </div>
              </div>
            </div>



         <div class="col-md-3 col-12 mb-md-0 mb-3">
           <div class="video-card">
             <img src="https://i.ytimg.com/vi/Ata9cSC2WpM/default.jpg" class="video-thumbnail" alt="Video Thumbnail">
             <div class="video-info">
               <h5 class="video-title">Another Video</h5>
               <button class="btn btn-danger play-video" data-video-id="Ata9cSC2WpM">Play</button>
             </div>
           </div>
         </div>



       </div>
     </div>


     
          <div class="modal fade" id="videoModal" tabindex="-1" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
           <div class="modal-body">
             <iframe id="youtubePlayer" width="100%" height="315" src="" frameborder="0" allowfullscreen></iframe>
           </div>
         </div>
       </div>
     </div>


     


 <hr>


