<div class="container ">
  <h3 class="mb-4">FILMS</h3>
<div class="row ">
             <div class="col-md-4 mt-3 mb-3  ">
              <div class="card custom-cards border border-dark" >
              <img src="https://picsum.photos/id/23/200/200" class="card-img-top" alt="...">
              <div class="card-body  text-light">
                <h5 class="card-title ">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>







              <div class="container">
                <header class="d-flex flex-wrap align-items-center justify-content-between  py-3 mb-4 border-bottom">
         

         <div class=" col-md-3 text-end text-md-end mt-2 mt-md-0 col-6 position-relative d-flex justify-content-end      position-absolute bottom-1 end-0 me-3 mb-4">
                <button   class="watchlist border-dark border bg-custom-gray text-light  py-0    ">
                              <img src="https://static-00.iconduck.com/assets.00/plus-icon-512x512-hnjyaquo.png" loading="lazy" class="icon loaded" onload="LoadUtils.handleImageLoad(this);" onerror="LoadUtils.handleImageLoadError(this);" alt="plus icon" title="plus icon" data-alternate="https://d1rs1tqcxzgl1z.cloudfront.net/iconduck/image/upload/w_614,h_614,c_fit/f_png/e_colorize:0,co_rgb:000000/w_644,h_644,c_lpad/e_trim:1/w_512,h_512,c_fit/s3.prod/assets.00/asst1317m3j5">
                       </button>
                       
         </div>
         </header>
         </div>









              <div class="card-body bg-dark text-light ">
                <a routerLink="film" class="fw-bold card-link ">Card link</a>
              </div>
              </div>
              </div>




              <div class="col-md-4 mt-3 mb-3 ">
                     <div class="card custom-cards border border-dark" >
                     <img src="https://picsum.photos/id/137/200/200" class="card-img-top" alt="...">
                     <div class="card-body  text-light">
                       <h5 class="card-title">Card title</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     </div>
                     <div class="container">
                      <header class="d-flex flex-wrap align-items-center justify-content-between  py-3 mb-4 border-bottom">
               
      
               <div class=" col-md-3 text-end text-md-end mt-2 mt-md-0 col-6 position-relative d-flex justify-content-end      position-absolute bottom-1 end-0 me-3 mb-4">
                      <button class="watchlist border-dark border bg-custom-gray text-light  py-0    ">
                                    <img src="https://static-00.iconduck.com/assets.00/plus-icon-512x512-hnjyaquo.png" loading="lazy" class="icon loaded" onload="LoadUtils.handleImageLoad(this);" onerror="LoadUtils.handleImageLoadError(this);" alt="plus icon" title="plus icon" data-alternate="https://d1rs1tqcxzgl1z.cloudfront.net/iconduck/image/upload/w_614,h_614,c_fit/f_png/e_colorize:0,co_rgb:000000/w_644,h_644,c_lpad/e_trim:1/w_512,h_512,c_fit/s3.prod/assets.00/asst1317m3j5">
                             </button>
               </div>
               </header>
               </div>
                     <div class="card-body bg-dark text-light ">
                       <a href="#" class="card-link fw-bold">Card link</a>
                     </div>
                     </div>
                     </div>






                     <div class="col-md-4 mt-3 mb-3   ">
                            <div class="card custom-cards border border-dark" >
                            <img src="https://picsum.photos/id/267/200/200" class="card-img-top" alt="...">
                            <div class="card-body  text-light">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="container">
                              <header class="d-flex flex-wrap align-items-center justify-content-between  py-3 mb-4 border-bottom">
                       
              
                       <div class=" col-md-3 text-end text-md-end mt-2 mt-md-0 col-6 position-relative d-flex justify-content-end      position-absolute bottom-1 end-0 me-3 mb-4">
                              <button class="watchlist border-dark border bg-custom-gray text-light  py-0    ">
                                            <img src="https://static-00.iconduck.com/assets.00/plus-icon-512x512-hnjyaquo.png" loading="lazy" class="icon loaded" onload="LoadUtils.handleImageLoad(this);" onerror="LoadUtils.handleImageLoadError(this);" alt="plus icon" title="plus icon" data-alternate="https://d1rs1tqcxzgl1z.cloudfront.net/iconduck/image/upload/w_614,h_614,c_fit/f_png/e_colorize:0,co_rgb:000000/w_644,h_644,c_lpad/e_trim:1/w_512,h_512,c_fit/s3.prod/assets.00/asst1317m3j5">
                                     </button>
                       </div>
                       </header>
                       </div>
                            <div class="card-body bg-dark text-light ">
                              <a href="#" class="card-link fw-bold">Card link</a>
                            </div>
                            </div>
                            </div>


</div>

<div class="row">      

       <div class="col-md-4 mt-3 mb-3  ">
              <div class="card custom-cards border border-dark" >
              <img src="https://picsum.photos/id/217/200/200" class="card-img-top" alt="...">
              <div class="card-body  text-light">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <div class="container">
                <header class="d-flex flex-wrap align-items-center justify-content-between  py-3 mb-4 border-bottom">
         

         <div class=" col-md-3 text-end text-md-end mt-2 mt-md-0 col-6 position-relative d-flex justify-content-end      position-absolute bottom-1 end-0 me-3 mb-4">
                <button class="watchlist border-dark border bg-custom-gray text-light  py-0    ">
                              <img src="https://static-00.iconduck.com/assets.00/plus-icon-512x512-hnjyaquo.png" loading="lazy" class="icon loaded" onload="LoadUtils.handleImageLoad(this);" onerror="LoadUtils.handleImageLoadError(this);" alt="plus icon" title="plus icon" data-alternate="https://d1rs1tqcxzgl1z.cloudfront.net/iconduck/image/upload/w_614,h_614,c_fit/f_png/e_colorize:0,co_rgb:000000/w_644,h_644,c_lpad/e_trim:1/w_512,h_512,c_fit/s3.prod/assets.00/asst1317m3j5">
                       </button>
         </div>
         </header>
         </div>
              <div class="card-body bg-dark text-light ">
                <a href="#" class="card-link fw-bold">Card link</a>
              </div>
              </div>
              </div>




              <div class="col-md-4 mt-3  mb-3 ">
                     <div class="card custom-cards border border-dark" >
                     <img src="https://picsum.photos/id/37/200/200" class="card-img-top" alt="...">
                     <div class="card-body  text-light">
                       <h5 class="card-title">Card title</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     </div>
                     <div class="container">
                      <header class="d-flex flex-wrap align-items-center justify-content-between  py-3 mb-4 border-bottom">
               
      
               <div class=" col-md-3 text-end text-md-end mt-2 mt-md-0 col-6 position-relative d-flex justify-content-end      position-absolute bottom-1 end-0 me-3 mb-4">
                      <button class="watchlist border-dark border bg-custom-gray text-light  py-0    ">
                                    <img src="https://static-00.iconduck.com/assets.00/plus-icon-512x512-hnjyaquo.png" loading="lazy" class="icon loaded" onload="LoadUtils.handleImageLoad(this);" onerror="LoadUtils.handleImageLoadError(this);" alt="plus icon" title="plus icon" data-alternate="https://d1rs1tqcxzgl1z.cloudfront.net/iconduck/image/upload/w_614,h_614,c_fit/f_png/e_colorize:0,co_rgb:000000/w_644,h_644,c_lpad/e_trim:1/w_512,h_512,c_fit/s3.prod/assets.00/asst1317m3j5">
                             </button>
               </div>
               </header>
               </div>
                     <div class="card-body bg-dark text-light ">
                       <a href="#" class="card-link fw-bold">Card link</a>
                     </div>
                     </div>
                     </div>






                     <div class="col-md-4 mt-3  mb-3 ">
                            <div class="card custom-cards border border-dark" >
                            <img src="https://picsum.photos/id/232/200/200" class="card-img-top" alt="...">
                            <div class="card-body  text-light">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="container">
                              <header class="d-flex flex-wrap align-items-center justify-content-between  py-3 mb-4 border-bottom">
                       
              
                       <div class=" col-md-3 text-end text-md-end mt-2 mt-md-0 col-6 position-relative d-flex justify-content-end      position-absolute bottom-1 end-0 me-3 mb-4">
                              <button class="watchlist border-dark border bg-custom-gray text-light  py-0    ">
                                            <img src="https://static-00.iconduck.com/assets.00/plus-icon-512x512-hnjyaquo.png" loading="lazy" class="icon loaded" onload="LoadUtils.handleImageLoad(this);" onerror="LoadUtils.handleImageLoadError(this);" alt="plus icon" title="plus icon" data-alternate="https://d1rs1tqcxzgl1z.cloudfront.net/iconduck/image/upload/w_614,h_614,c_fit/f_png/e_colorize:0,co_rgb:000000/w_644,h_644,c_lpad/e_trim:1/w_512,h_512,c_fit/s3.prod/assets.00/asst1317m3j5">
                                     </button>
                       </div>
                       </header>
                       </div>
                            <div class="card-body bg-dark text-light ">
                              <a href="#" class="card-link fw-bold">Card link</a>
                            </div>
                            </div>
                            </div>



</div>
</div>



