.custom-cards{
       background-color: #d72638;
       margin:0;
       padding: 0;
}
.custom-cards a{
       text-decoration: none;
       color: #ffc857;

}
.custom-cards a:hover{
       color: white;
}
.card-title{
       cursor: pointer;
}
.specialButton{
  height: 48px;
  width: 48px;
}
