<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->



<!-- LOGO-SEARCH START -->
<app-logo-search (MovieApi)="receiveData($event)"></app-logo-search>
<!-- LOGO-SEARCH END -->


<!-- SEARCHED FILM START -->


<!-- <div *ngIf="response && search">
       <p>Arama Sonucu: {{ MovieApi?.Title }}</p>
     </div> -->


@if(response===true && !!search ){

<div class="container ">
       <h3 class="mb-4">Search Result For : {{MovieApi?.Title}} </h3>
       <div class="row ">
              <div class="col-md-4 mt-3 mb-3  ">
                     <div class="card custom-cards border border-dark ">
                            <img src='{{MovieApi?.Poster}}' class="card-img-top" alt="...">
                            <div class="card-body  text-light">
                                   <h5 class="card-title ">{{MovieApi?.Title}}</h5>
                                   <p class="card-text">{{MovieApi?.Plot}}</p>
                            </div>







                            <div class="container">
                                   <header
                                          class="d-flex flex-wrap align-items-center justify-content-between  py-3 mb-4 border-bottom">


                                          <div
                                                 class=" col-md-3 text-end text-md-end mt-2 mt-md-0 col-6 position-relative d-flex justify-content-end      position-absolute bottom-1 end-0 me-3 mb-4">
                                                 <button
                                                        class="watchlist border-dark border bg-custom-gray text-light  py-0    ">
                                                        <img src="https://static-00.iconduck.com/assets.00/plus-icon-512x512-hnjyaquo.png"
                                                               loading="lazy" class="icon loaded"
                                                               onload="LoadUtils.handleImageLoad(this);"
                                                               onerror="LoadUtils.handleImageLoadError(this);"
                                                               alt="plus icon" title="plus icon"
                                                               data-alternate="https://d1rs1tqcxzgl1z.cloudfront.net/iconduck/image/upload/w_614,h_614,c_fit/f_png/e_colorize:0,co_rgb:000000/w_644,h_644,c_lpad/e_trim:1/w_512,h_512,c_fit/s3.prod/assets.00/asst1317m3j5">
                                                 </button>
                                          </div>
                                   </header>
                            </div>









                            <div class="card-body bg-dark text-light ">
                                   <a href="#" class="fw-bold card-link">Card link</a>
                            </div>
                     </div>
              </div>
       </div>
</div>
}

@if (!response && !search) {
<div class="container ">

       <div class="card ">
              <div class="card-body text-center fw-bold text-light bg-dark">
                     Search Film </div>
       </div>
</div>
}

@if ( response===false && !!search) {
<div class="container ">

       <div class="card ">
              <div class="card-body text-center fw-bold text-light bg-dark">
                     Film is not found !
              </div>
       </div>
</div>

}
@if ( response===false && !!search) {
       <div class="container ">
       
              <div class="card ">
                     <div class="card-body text-center fw-bold text-light bg-dark">
                            Film is not found !
                     </div>
              </div>
       </div>
       
       }





<!-- SEARCHED FILM END -->



<!-- FOOTER START -->
<app-footer></app-footer>

<!-- FOOTER END -->