<hr>
<footer class="py-5 ms-lg-1  1341">
  <div class="row ms-3">
    <div class="col-6 col-md-2 mb-3 ms-lg-5">
      <h5>Section</h5>
      <ul class="nav flex-column ">
        <li class="nav-item mb-2 "><a href="#" class=" nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col-md-5  mb-3">
      <form>
        <a href="https://github.com/muradkamill">
          <img src="/github.png" alt="github">
        </a>


        <a href="https://www.instagram.com/muradkamill/">
          <img src="/instagram.png" alt="instagram">
        </a>


        <a href="https://www.linkedin.com/in/murad-kamil-b3b744337/">
          <img src="/linkedln.png" alt="linkedin">
        </a>


        <a href="https://buymeacoffee.com/muradkamil">
          <img src="/buymeacofee.png" alt="buymeacofee">
        </a>
      </form>
    </div>
  </div>
</footer>

