
<div class="container mt-5 bg-secondary text-light mb-0   ">
       <footer class="py-5">
         <div class="row">
           <div class="col-6 col-md-2 mb-3">
             <h5>Section</h5>
             <ul class="nav flex-column ">
               <li class="nav-item mb-2 "><a href="#" class=" nav-link p-0 text-body-secondary">Home</a></li>
               <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
               <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
               <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
               <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
             </ul>
           </div>
     
           <div class="col-6 col-md-2 mb-3">
             <h5>Section</h5>
             <ul class="nav flex-column">
               <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
               <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
               <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
               <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
               <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
             </ul>
           </div>
     
           <div class="col-6 col-md-2 mb-3">
             <h5>Section</h5>
             <ul class="nav flex-column">
               <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
               <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
               <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
               <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
               <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
             </ul>
           </div>
     
          <div class="col-md-5 offset-md-1 mb-3">
              <form>


<a href="https://github.com/muradkamill">
 <img src="https://static-00.iconduck.com/assets.00/github-square-icon-511x512-qbywlrgo.png" loading="lazy" class="icon loaded" onload="LoadUtils.handleImageLoad(this);" onerror="LoadUtils.handleImageLoadError(this);" alt="GitHub Square icon" title="GitHub Square icon" data-alternate="https://d1rs1tqcxzgl1z.cloudfront.net/iconduck/image/upload/w_614,h_614,c_fit/f_png/e_colorize:0,co_rgb:000000/w_644,h_644,c_lpad/e_trim:1/w_512,h_512,c_fit/s3.prod/assets.00/asstskdii8a4">
</a>

                 
<a href="https://www.instagram.com/muradkamill/">
  <img src="https://static-00.iconduck.com/assets.00/instagram-icon-512x512-231jhylq.png" loading="lazy" class="icon loaded" onload="LoadUtils.handleImageLoad(this);" onerror="LoadUtils.handleImageLoadError(this);" alt="instagram icon" title="instagram icon" data-alternate="https://d1rs1tqcxzgl1z.cloudfront.net/iconduck/image/upload/w_614,h_614,c_fit/f_png/e_colorize:0,co_rgb:000000/w_644,h_644,c_lpad/e_trim:1/w_512,h_512,c_fit/s3.prod/assets.00/asst1n7ntj3y">
</a>

                            

<a href="https://www.linkedin.com/in/murad-kamil-b3b744337/">
  <img src="https://static-00.iconduck.com/assets.00/linkedin-icon-512x512-t7yfvpfz.png" loading="lazy" class="icon loaded" onload="LoadUtils.handleImageLoad(this);" onerror="LoadUtils.handleImageLoadError(this);" alt="linkedin icon" title="linkedin icon" data-alternate="https://d1rs1tqcxzgl1z.cloudfront.net/iconduck/image/upload/w_614,h_614,c_fit/f_png/e_colorize:0,co_rgb:000000/w_644,h_644,c_lpad/e_trim:1/w_512,h_512,c_fit/s3.prod/assets.00/asstjwp22xjf">
</a>
                                   

<a href="https://buymeacoffee.com/muradkamil">
  <img src="https://static-00.iconduck.com/assets.00/wavy-money-bill-icon-512x359-edm8plfr.png" loading="lazy" class="icon loaded" onload="LoadUtils.handleImageLoad(this);" onerror="LoadUtils.handleImageLoadError(this);" alt="Buymeacoffee" title="Buymeacoffee icon" data-alternate="https://d1rs1tqcxzgl1z.cloudfront.net/iconduck/image/upload/w_614,h_614,c_fit/f_png/e_colorize:0,co_rgb:000000/w_644,h_644,c_lpad/e_trim:1/w_512,h_512,c_fit/s3.prod/assets.00/asstkhsz6t2v">
</a>
  